@import "../../css/_var.scss";
.contact {
    padding: 10% 0 20% 0;
    h1,
    p,
    li {
        text-align: center;
    }
    h1 {
        margin-bottom: 5%;
    }
    p {
        margin-bottom: 3%;
    }
    .social_links {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        li {
            width: 60px;
        }
        li + li {
            margin-left: 40px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: 0 auto;
        label {
            margin-bottom: 14px;
        }
        input,
        textarea {
            border: 1px solid $text-main-color;
            border-radius: 5px;
        }
        input {
            margin-bottom: 60px;
            height: 50px;
            padding-left: 18px;
        }
        textarea {
            height: 380px;
            padding: 18px;
            margin-bottom: 100px;
        }
    }
}
