@import "../../css/_var.scss";
.contact {
    padding: 180px 3% 150px 3%;
    h1,
    p,
    li {
        text-align: center;
    }
    h1 {
        margin-bottom: 5%;
    }
    p {
        margin-bottom: 3%;
    }
    .social_links {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        li {
            width: 60px;
        }
        li + li {
            margin-left: 40px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: 0 auto;
        label {
            margin-bottom: 14px;
        }
        input,
        textarea {
            border: 1px solid $text-main-color;
            border-radius: 5px;
        }
        input {
            margin-bottom: 60px;
            height: 50px;
            padding-left: 18px;
        }
        textarea {
            height: 380px;
            padding: 18px;
            margin-bottom: 100px;
        }
    }
}
@media screen and (max-width: 767px) {
    .contact {
        padding-top: 60px;
        .social_links {
            li {
                width: 40px;
            }
        }
    }
}
.thankyou {
    display: flex;
    align-items: center;
    padding: 180px 0 150px 20px;

    .left {
        width: 50%;
        padding-left: 60px;
        box-sizing: border-box;

        h1 {
            font-size: clamp(2.25rem, 4vw + 1.75rem, 5.5rem);
            text-transform: uppercase;
            margin-bottom: 80px;
        }
        p {
            line-height: 2;
            margin-bottom: 30px;
        }
        .caution {
            font-size: 14px;
            margin-bottom: 70px;
        }
        .btn_block {
            display: flex;
            justify-content: right;
        }
        .btn {
            background-color: $dominant-color;
            color: $secondary-color;
            border: 1px solid $secondary-color;
        }
        .btn::after {
            border-top: 2px solid $secondary-color;
            border-right: 2px solid $secondary-color;
        }
    }
    .right {
        width: 37%;
        margin-left: 5%;
        transform: rotate(-10deg);
    }
}
@media screen and (max-width: 767px) {
    .thankyou {
        display: block;
        padding: 60px 5% 150px 5%;
        .bouquet {
            width: 66%;
            margin: 0 auto;
            transform: rotate(-10deg);
        }
        .page_title {
            width: 100%;
            text-align: center;
        }
        .left {
            padding-left: 0;
            width: 100%;
            margin: 0 auto;
            h1 {
                margin: 40px 0;
            }
            .btn_block {
                display: block;
                text-align: center;
            }
        }
    }
}
