@import "../../css/_var.scss";
.thankyou {
    display: flex;
    align-items: center;
    padding: 15% 0 13% 10%;
    .left {
        width: 50%;
        h1 {
            text-transform: uppercase;
            margin-bottom: 90px;
        }
        p {
            line-height: 2;
            margin-bottom: 30px;
        }
        .caution {
            font-size: 14px;
            margin-bottom: 50px;
        }
        .btn {
            display: flex;
            justify-content: right;
        }
        button {
            background-color: $dominant-color;
            color: $secondary-color;
            border: 1px solid $secondary-color;
        }
        button::after {
            border-top: 2px solid $secondary-color;
            border-right: 2px solid $secondary-color;
        }
    }
    .right {
        width: 37%;
        margin-left: 8%;
        transform: rotate(-10deg);
    }
}
