@charset "UTF-8";

body {
    background-color: #eeeeee;
}
.service {
    max-width: 960px;
    margin: 0 auto;
}
h2 {
    text-align: center;
    color: #0B8C75;
    margin: 40px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 32%;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
}
.card-content {
    margin: 5px;
}
.card-title {
    color: #0B8C75;
    border-left: 5px solid #0B8C75;
    padding-left: 5px;
    margin: 7px 0;
}
.card-info {
    font-size: 0.875rem;
    line-height: 1.2;
}

@media screen and (max-width: 400px){
    .container {
        flex-wrap: wrap;
    }
    .card {
        width: 100%;
        margin: 15px 10px;
    }
    img {
        width: 100%;
    }
}

