@import "_var.scss";

body {
    background-color: $base-color;
}
// Header
.global-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    li {
        text-transform: uppercase;
    }
    li + li {
        margin-right: 30px;
    }
}

// Side links
.links {
    position: fixed;
    right: 0;
    top: 20%;
    align-items: center;
    width: 60px;
    button {
        border: none;
        background-color: none;
    }
    button + button {
        margin-top: 30px;
    }
}
.reserve {
    height: 200px;
    width: 100%;
    -ms-writing-mode: tb-rl;
    background: linear-gradient(#FFCFD0, #EC747B);
    border-radius: 1px;
    p {
        writing-mode: vertical-rl;
        margin: auto auto;
    }
}
.icons {
    display: inline;
    background: none;
    fill: #CFC9CA;
    width: 90%;
}

// Top-wrapper
.top-wrapper {
    .main-img {
        max-width: 820px;
        position: relative;
    }
    .sq-1, 
    .sq-2 {
        width: 820px;
        height: 500px;
    }
    .sq-1 {
        color: #ecb3b7;
        opacity: 4;
        transform: rotate(7deg);
        position: absolute;
        z-index: 0;
    }
    .sq-2 {
        color: #ffa8a4;
        transform: rotate(4deg);
        position: absolute;
        z-index: 1;
    }
    img {
        max-width: 820px;
        margin: 0 auto;
        position: absolute;
        z-index: 2;
    }
}
.sq-main {
    width: 820px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}