@import "../../css/_var.scss";

.page_title {
    text-align: center;
    margin: 200px 0 100px 0;
}
/* buttons */
.tab {
    background-color: $section-bg;
    display: flex;
    justify-content: center;
    height: 44px;
    margin-bottom: 80px;
    li + li {
        margin-left: 5px;
    }
    li {
        width: 190px;
        text-align: center;
        line-height: 44px;
        background-color: $secondary-color;
        color: $dominant-color;
        font-size: 16px;
        text-shadow: 1px 1px 1px rgba($text-main-color, $alpha: 0.3);
    }
    li:hover {
        background-color: #5faaa6;
    }
}
/* works list */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
    .item {
        width: calc((100% - 42px) / 3);
        margin: 15px 7px;
        div {
            box-shadow: 1px 2px 3px rgba($text-main-color, $alpha: 0.3);
        }
        .role {
            text-align: right;
            margin-top: 4px;
        }
        .role::before {
            content: "Role: ";
        }
    }
}
