@charset "UTF-8";
body {
    background-color: #e8d9bf;
}

.home_intro,
.about,
.menu,
.event,
.footer_container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 767px) {
    .home_intro,
    .about,
    .menu,
    .event,
    .footer_container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* header */
header {
    margin-bottom: 105px;
}
.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
}
.header_logo {
    width: 226px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}
.sp_nav,
.sp_btn {
    display: none;
}
@media screen and (max-width: 767px) {
    header {
        margin-bottom: 43px;
    }
    .header_logo {
        width: 188px;
    }
}

/* home_intro */
.home_intro {
    text-align: center;
    margin-bottom: 100px;
}
.home_intro .sub {
    font-size: 30px;
    margin-bottom: 50px;
}
.home_intro .main {
    font-size: 82px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 0.1em;
}
.home_intro .intro_desc {
    font-size: 23px;
    margin: 0 auto;
    line-height: 1.6;
    letter-spacing: 0.1em;
}
.sp_only {
    display: none;
}
@media screen and (max-width: 767px) {
    .sp_only {
        display: block;
    }
    .pc_only {
        display: none;
    }
    .home_intro {
        text-align: center;
        margin-bottom: 50px;
    }
    .home_intro .sub {
        font-size: 17px;
        margin-bottom: 24px;
    }
    .home_intro .main {
        font-size: 38px;
        margin: 0 -20px 10px -20px;
        line-height: 1.2;
        letter-spacing: -0.1px;
    }
    .home_intro .intro_desc {
        font-size: 16px;
        margin: 0 -10px;
        line-height: 1.9;
    }
}

/* About us */
.about {
    display: flex;
    margin-bottom: 95px;
}
.about_pic {
    max-width: 500px;
    max-height: 560px;
    width: 50%;
}
.about_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 80px;
}
.about_content {
    width: 41%;
    padding-left: 9%;
}
.about h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 272px;
}
.about_copy {
    font-size: 44px;
    line-height: 1.4;
    margin-bottom: 19px;
}
.about_desc {
    font-size: 16px;
    line-height: 1.6;
}
.sp_about {
    display: none;
}
@media screen and (max-width: 767px) {
    .about {
        flex-direction: column;
        margin-bottom: 43px;
    }
    .about .sp_about {
        display: block;
        width: 160px;
        margin: 0 auto;
        margin-bottom: 12px;
    }
    .about_pic {
        width: initial;
        margin: 0 -20px;
        margin-bottom: 33px;
    }
    .about_pic img {
        border-bottom-right-radius: 0;
    }
    .about_content {
        width: 100%;
        padding: 0;
    }
    .about_copy {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 17px;
    }
    .about_desc {
        line-height: 1.75;
        text-align: justify;
    }
}

/* Menu */
.menu {
    margin-bottom: 80px;
}
.menu h2 {
    width: 151px;
    margin: 0 auto;
    margin-bottom: 38px;
}
.menus {
    display: flex;
    justify-content: space-between;
}
.menu_item + .menu_item {
    margin-right: 5px;
}
.menu_item {
    width: 30%;
}
.menu_item img {
    border-top-right-radius: 40px;
}
.menu_item h3 {
    font-weight: normal;
    font-size: 38px;
    color: #d30202;
    margin: -10px 0 20px 15px;
}
.menu_item p {
    font-size: 17px;
    line-height: 1.4;
}
@media screen and (max-width: 767px) {
    .menu {
        margin-bottom: 80px;
    }
    .menu h2 {
        width: 88px;
        margin: 0 auto;
        margin-bottom: 17px;
    }
    .menus {
        display: block;
        padding: 0 5%;
    }
    .menu_item {
        width: 100%;
    }
    .menu_item h3 {
        font-weight: normal;
        font-size: 40px;
        color: #d30202;
        margin: -12px 0 13px 10px;
    }
    .menu_item p {
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 55px;
        text-align: justify;
    }
}

/* Gallery */
.gallery {
    margin-bottom: 60px;
}
.gallery h2 {
    width: 245px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.gallery_items {
    display: flex;
}

/* Event */
.event {
    margin-bottom: 64px;
}
.event h2 {
    width: 173px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.event_box {
    border: 4px solid #4f260b;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event_center {
    padding: 40px 5%;
}
.event_item {
    display: flex;
    font-size: 23px;
    line-height: 1.9;
}
.event_date {
    margin-right: 50px;
}
.event_info {
    text-decoration: underline;
}
@media screen and (max-width: 767px) {
    .gallery {
        margin-bottom: 60px;
    }
    .gallery h2 {
        width: 142px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .slide_pic {
        display: none;
    }
    .slide_top {
        margin: 0 -20px;
    }
}

/* Access */
.access {
    max-width: 100%;
}
.access h2 {
    width: 213px;
    margin: 0 auto;
    margin-bottom: 37px;
}
/* .access_map {
    position: relative; 
    width: 100%;
    height: 0;
    padding-top: 471px; 
} */
.access iframe {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    width: 100%;
    height: 471px;
    /* mapの下の余白削除 */
    display: block;
}

/* Footer */
footer {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer_flex {
    display: flex;
    margin-bottom: 60px;
}
footer h3 {
    width: 226px;
    margin-right: 68px;
}
.footer_content {
    color: #000000;
    font-size: 20px;
}
.footer_content p {
    margin-top: 5px;
    margin-bottom: 20px;
}
.footer_credit {
    color: #000000;
    font-size: 16px;
    text-align: center;
}

/* PAGE TOP */
.pagetop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

@media screen and (max-width: 1100px) {
    /* nav */
    .pc_nav {
        display: none;
    }
    /* hamburger */
    .sp_nav {
        /* 位置指定 */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* 100%にすると、親要素に対して100%の表示になる */
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        /* 縦方向に並べる。デフォルトではrow*/
        flex-direction: column;
        /* flex-direction: column;によってjustify-contentが縦方向の指定に変わる*/
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        /* ボタンを押したときの変化速度 */
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        /* ボタンを押したときの変化速度 */
        transition: 0.3s;
    }
    .sp_btn span::before {
        /* 真ん中の線から上に10px移動させる */
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }
    /* Close the hamburger button */
    /* 二つのクラスがそろったときに */
    .sp_btn.open span {
        /* 真ん中の線を見えないようにする */
        background: transparent;
    }
    .sp_btn.open span::before {
        /* 位置を中央に戻す */
        bottom: 0;
        /* 回転させる */
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }
}
