$dominant-color: #fafdf8;
$secondary-color: #80d9d4;
$accent-color: #f0e189;
$section-bg: #eaf0f0;

/* font color*/
$text-main-color: #2e3a5c;

$japanese-font: "Noto Sans JP", sans-serif;
$roman-font: "Poppins", sans-serif;
$symbol-font: "Ubuntu", sans-serif;
