@import "_var.scss";

html {
    scroll-behavior: smooth;
}
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: $text-main-color;
    /*フォントをゴシック体にする*/
    font-family: $roman-font, $japanese-font;
    font-feature-settings: "palt";
}

/* A title in a section*/
h2 {
    color: $secondary-color;
    text-shadow: 1px 2px 4px rgba($text-main-color, $alpha: 0.3);
    font-size: 90px;
    font-weight: normal;
    span {
        color: $accent-color;
    }
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す。デフォルトでカラーが黒色なので、それを継承し、黒になる*/
    color: inherit;
    transition: 0.2s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
    box-sizing: border-box;
}

img {
    /*スクリーンより大きいサイズにならない*/
    max-width: 100%;
    /*一番下のラインにあわせる*/
    vertical-align: bottom;
    /*イメージタグの枠線を消す*/
    border: none;
}

/* Global-nav */
.global_nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    box-sizing: border-box;
    /* Fix global_nav */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

    /* nav left */
    .nav_left,
    .nav_right,
    .social_links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_left li {
        padding: 4px 16px;
    }
    .nav_left li + .nav_left li {
        margin-left: 5%;
    }
    .nav_left:hover {
        background-color: rgba($dominant-color, 0.6);
    }
    /* nav right */
    .lang_switcher {
        margin-right: 5%;
        margin-left: -5%;
    }
    .lang {
        display: inline;
    }
    .social_icon {
        width: 40px;
        margin-left: 12%;
    }
}
