@import "_var.scss";

html {
    scroll-behavior: smooth;
}
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: $text-main-color;
    /*フォントをゴシック体にする*/
    font-family: $roman-font, $japanese-font;
    font-feature-settings: "palt";
}

/* section title and page title */
h2,
.page_title {
    color: $secondary-color;
    text-shadow: 2px 2px 4px rgba($text-main-color, $alpha: 0.4);
    font-size: clamp(4rem, 5vw + 2rem, 5.5rem);
    font-weight: normal;
    span {
        color: $accent-color;
    }
}
h2 {
    font-size: clamp(3rem, 5vw + 2rem, 5.5rem);
}
a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す。デフォルトでカラーが黒色なので、それを継承し、黒になる*/
    color: inherit;
    transition: 0.2s;
}

p {
    line-height: 1.8;
    text-align: justify;
}
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
    box-sizing: border-box;
}

img {
    /*スクリーンより大きいサイズにならない*/
    max-width: 100%;
    /*一番下のラインにあわせる*/
    vertical-align: bottom;
    /*イメージタグの枠線を消す*/
    border: none;
}

/* Button style */
button,
.btn {
    line-height: 44px;
    display: block;
    position: relative;
    padding: 0 37px 0 24px;
    border: none;
    background-color: $secondary-color;
    box-shadow: 1px 4px 4px rgba($secondary-color, $alpha: 0.3);
    border-radius: 5px;
    text-transform: uppercase;
    color: $dominant-color;
    height: 44px;
}
button::after,
.btn::after {
    position: absolute;
    margin-left: 8px;
    margin-top: 16px;
    content: "";
    width: 9px;
    height: 9px;
    border-top: 2px solid $dominant-color;
    border-right: 2px solid $dominant-color;
    transform: rotate(45deg);
}
.pc_only {
    display: block;
}
.sp_only {
    display: none;
}
@media screen and (max-width: 767px) {
    .pc_only {
        display: none;
    }
    .sp_only {
        display: block;
    }
}

/* Global nav */
.global_nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 0 10%;
    box-sizing: border-box;
    /* Fix global_nav */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

    .nav_left,
    .nav_right,
    .social_links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* nav left */
    .nav_left li {
        padding: 8px 16px;
    }
    .nav_left li + .nav_left li {
        margin-left: 5%;
    }
    .nav_left li:hover {
        background-color: rgba($dominant-color, 0.6);
        border-radius: 3px;
        transition: 0.2s;
    }
    .current_page {
        opacity: 0.5;
    }
    /* nav right */
    .lang_switcher {
        margin-right: 20px;
    }
    .lang {
        display: inline;
    }
    .social_icon {
        width: 28px;
        margin-left: 23px;
    }
}
/* hamburger menu */
.sp_nav,
.ham_btn {
    display: none;
}
@media screen and (max-width: 1100px) {
    .global_nav {
        display: none;
    }
    /* button */
    .fixed {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 999;
    }
    .ham_btn {
        display: flex;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        background: $secondary-color;
        box-shadow: 1px 1px 2px rgba($secondary-color, $alpha: 0.3);
        cursor: pointer;
    }
    .ham_btn span {
        display: inline-block;
        position: absolute;
        height: 3px;
        width: 62%;
        border-radius: 2px;
        background-color: $dominant-color;
        border-radius: 5px;
        /* ボタンを押したときの変化速度 */
        transition: 0.3s;
    }
    .ham_btn span:nth-of-type(1) {
        top: 25px;
    }

    .ham_btn span:nth-of-type(2) {
        top: 35px;
    }
    .ham_btn span:nth-of-type(1)::before {
        content: "menu";
        position: absolute;
        bottom: 7px;
        font-size: 11px;
        color: $dominant-color;
    }
    /* The close button */
    .close_btn {
        margin: 10px 10px 30px auto;
        color: $dominant-color;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        z-index: 2;
        cursor: pointer;
    }
    .close_btn span {
        position: absolute;
        left: 8px;
        height: 3px;
        width: 62%;
        border-radius: 2px;
        background-color: $dominant-color;
        /* ボタンを押したときの変化速度 */
        transition: 0.3s;
    }
    .close_btn span:nth-of-type(1) {
        top: 28px;
        transform: rotate(45deg);
    }
    .close_btn span:nth-of-type(2) {
        bottom: 20px;
        transform: rotate(-45deg);
    }
    .sp_nav {
        display: block;
        z-index: 1;
        text-align: center;
        height: 450px;
        width: 100%;
        background-color: rgba($color: #384464, $alpha: 0.95);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        /* hide nav */
        position: fixed;
        bottom: -450px;
        transition: 0.3s;
        .nav_left {
            li {
                color: $dominant-color;
                line-height: 50px;
                font-size: 20px;
            }
        }
        .nav_line {
            border: none;
            margin-top: 10px;
            margin-bottom: 25px;
            border-top: 1px solid $dominant-color;
        }
        p {
            text-align: center;
            color: $dominant-color;
        }
        .lang {
            display: inline;
        }
        .lang_switcher {
            span {
                color: $dominant-color;
            }
        }
        .social_links {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .social_icon {
            width: 28px;
        }
        .social_icon + .social_icon {
            margin-left: 23px;
        }
    }
}
/* Footer */
footer {
    button::after {
        content: none;
    }
    .footer_bg {
        padding: 20px 3% 10px 0;
        background: linear-gradient(
            90deg,
            $accent-color 0%,
            $accent-color 13%,
            $secondary-color 13%,
            $secondary-color 100%
        );
        display: flex;
        justify-content: space-between;
    }
    .footer_left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 13%;
        .circle {
            width: 30px;
            height: 30px;
            border: 1px solid $dominant-color;
            border-radius: 50%;
        }
        .arrow {
            position: relative;
            content: "";
            width: 30px;
            height: 30px;
            border: 1px solid $dominant-color;
            border-radius: 50%;
        }
        .arrow::after {
            position: absolute;
            top: 11px;
            left: 8px;
            content: "";
            width: 12px;
            height: 12px;
            border-top: 2px solid #fafdf8;
            border-left: 2px solid #fafdf8;
            transform: rotate(45deg);
        }
        p {
            color: $dominant-color;
            text-shadow: 1px 1px 3px rgba($secondary-color, $alpha: 0.3);
            text-align: center;
        }
    }
    .footer_right {
        margin-top: 3%;
        p,
        li {
            color: $dominant-color;
            font-size: 14px;
        }
        p {
            text-align: right;
            font-size: 12px;
        }
    }
    .footer_nav {
        display: flex;
        margin-bottom: 30px;
        li + li {
            margin-left: 30px;
        }
    }
}
@media (max-width: 776px) {
    footer {
        .footer_bg {
            background: linear-gradient(
                90deg,
                $accent-color 0%,
                $accent-color 18%,
                $secondary-color 18%,
                $secondary-color 100%
            );
            .footer_left {
                width: 18%;
                font-size: 15px;
            }
        }
        .footer_nav {
            margin-bottom: 30px;
            li + li {
                margin-left: 15px;
            }
        }
    }
}
