@import "_var.scss";

/* SECTION: top_wrapper */
.top_wrapper {
    height: 100vh;
    /* Split a background into 2 colors */
    .top_bg {
        padding-top: 10%;
        padding-bottom: 5%;
        background: linear-gradient(
            90deg,
            $secondary-color 0%,
            $secondary-color 67%,
            $accent-color 33%,
            $accent-color 100%
        );
    }
    /* margins in top_wrapper */
    .layout {
        width: 78%;
        margin: 0 auto;
        display: flex;
        .copy {
            width: 51%;
        }
        .top_circle {
            width: 49%;
        }
    }
    .copy {
        h1,
        p {
            color: $dominant-color;
        }
        h1 {
            font-size: 80px;
            text-transform: uppercase;
            font-weight: normal;
            text-shadow: 0px 2px 4px rgba($text-main-color, $alpha: 0.3);
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
            text-shadow: 0px 2px 2px rgba($text-main-color, $alpha: 0.4);
        }
    }
    .pagedown_arrow {
        width: 0;
        height: 0;
        border: 45px solid;
        border-color: transparent;
        border-top: 25px solid $secondary-color;
        border-radius: 5px;
        margin: -3px auto 0 auto;
    }
}
.top_circle {
    padding-top: 5%;
    padding-left: 3%;
    .inner div img {
        max-width: 79%;
    }
}

/* SECTION: About */
.about {
    max-width: 900px;
    width: 100%;
    margin: 100px auto;
    .flex {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
}
.profile_left {
    margin-right: 30px;
    .relative {
        position: relative;
        width: 210px;
    }
    .circle {
        height: 170px;
        width: 170px;
        background-color: $accent-color;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
    }
    .my_pic {
        width: 160px;
        position: absolute;
        bottom: -100px;
        left: 40px;
    }
}
.about .content {
    h2 {
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 75px;
    }
    .btn {
        text-align: right;
    }
}

/* SECTION: Selected Work */
.work {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $section-bg;
    display: flex;
    justify-content: center;
    h2 {
        margin-bottom: 30px;
        text-align: center;
    }
    .works {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        .item {
            width: 31%;
        }
    }
    .btn {
        text-align: center;
    }
}
.work .item {
    div {
        box-shadow: 1px 2px 3px rgba($text-main-color, $alpha: 0.3);
    }
    .role {
        text-align: right;
        margin-top: 4px;
    }
}

/* SECTION: What I do? */
.service {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1000px;
    margin: 0 auto;
    h2 {
        margin-bottom: 80px;
        text-align: center;
    }
    .content {
        display: flex;
        justify-content: space-between;
    }
}
.service .content {
    .left {
        width: 25%;
    }
    .right {
        width: 70%;
    }
}
.service .content .left {
    .skills {
        display: flex;
        justify-content: space-around;
    }
    .text {
        margin-left: -40px;
    }
    h3 {
        font-weight: normal;
        font-size: 40px;
        text-shadow: 1px 1px 1px rgba($text-main-color, $alpha: 0.3);
        margin-top: -40px;
    }
    .design h3 {
        color: $accent-color;
    }
    .coding h3 {
        color: $secondary-color;
    }
}
.service .content .right .card {
    margin-bottom: 50px;
    .relative {
        position: relative;
        p {
            position: absolute;
        }
        .sub {
            font-size: 12px;
            text-align: center;
            top: -37px;
            left: -12px;
        }
        .num {
            font-size: 48px;
            top: -42px;
            left: -14px;
        }
    }
    .center {
        background-color: $section-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }
    h3 {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 10px;
    }
}

/* SECTION: Contact */
.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $section-bg;
    h2,
    p {
        text-align: center;
        margin-bottom: 30px;
    }
    .social_links {
        display: flex;
        justify-content: center;
        .social_icon + .social_icon {
            margin-left: 30px;
        }
        .social_icon {
            width: 58px;
        }
    }
}
