@import "_var.scss";

/* top_wrapper */
.top_wrapper {
    height: 100vh;
    .top_bg {
        height: 95%;
        display: flex;
        justify-content: space-between;
        padding: 20% 16% 0 11%;

        background: linear-gradient(
            90deg,
            $secondary-color 0%,
            $secondary-color 67%,
            $accent-color 33%,
            $accent-color 100%
        );
    }
    .copy {
        h1,
        p {
            color: $section-bg;
        }
        h1 {
            font-size: 88px;
            text-transform: uppercase;
            font-weight: normal;
        }
        p {
            font-size: 18px;
        }
    }
}
.top_circle {
    width: 30%;
}
