@import "../../css/_var.scss";
.work_details {
    .mockup {
        margin-bottom: 50px;
        img {
            width: 100%;
        }
    }
    .text {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 3%;
        box-sizing: border-box;
    }
    .title {
        margin-bottom: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid $accent-color;
        h1 {
            font-size: 48px;
            margin-right: 20px;
            font-weight: normal;
            padding-bottom: 20px;
        }
    }
    .details {
        margin-bottom: 50px;
        tr {
            line-height: 1.8;
        }
        th {
            font-weight: normal;
            text-align: left;
            padding-right: 20px;
        }
        td {
            font-weight: bold;
        }
    }
    .desc {
        h2 {
            color: $text-main-color;
            font-size: 24px;
            text-shadow: none;
            margin-bottom: 20px;
        }
        margin-bottom: 100px;
    }
    .whole_pic {
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 130px;
    }
}
