@import "../../../css/_var.scss";
.work_details {
    .mockup {
        margin-bottom: 5%;
    }
    .text {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    .title {
        margin-bottom: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid $accent-color;
        h1 {
            font-size: 48px;
            margin-right: 20px;
            font-weight: normal;
            padding-bottom: 20px;
        }
    }
    .details {
        margin-bottom: 10%;
        tr {
            line-height: 1.8;
        }
        th {
            font-weight: normal;
            text-align: left;
            padding-right: 20px;
        }
        td {
            font-weight: bold;
        }
    }
}
